<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test runner" parallel="classes" thread-count="2">

       <test name="mazmi3639NY">

              <!--  parameter name="browser" value="FF"></parameter>-->

              <classes>

                     <class name="Runners.DefaultRunner" />

              </classes>

       </test>

</suite>
